* {
  font-family: cursive, "Pacifico", "Cairo", sans-serif;
  cursor: default;
}

body {
  background: #8080ee;
}

.centered {
  text-align: center;
}

.il {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dec {
  width: 80%;
  margin: 1em 10% 0 10%;
  text-align: justify;
}

.p-1 {
  padding: 1em;
}

.m-1 {
  margin: 1em;
}

.ph-1 {
  padding: 1em 0;
}

.ph-2 {
  padding: 2em 0;
}

.ph-3 {
  padding: 3em 0;
}

.ph-4 {
  padding: 4em 0;
}

.mh-1 {
  margin: 1em 0;
}

.mh-2 {
  margin: 2em 0;
}

.mh-3 {
  margin: 3em 0;
}

.mh-4 {
  margin: 4em 0;
}

.pb-1 {
  padding-bottom: 1em;
}

.pb-2 {
  padding-bottom: 2em;
}

.pb-3 {
  padding-bottom: 3em;
}

.pb-4 {
  padding-bottom: 4em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mb-4 {
  margin-bottom: 4em;
}

.mb-5 {
  margin-bottom: 5em;
}

.mr-1 {
  margin-right: 1em;
}

.mr-2 {
  margin-right: 2em;
}

.mr-3 {
  margin-right: 3em;
}

.mr-4 {
  margin-right: 4em;
}

.mr-5 {
  margin-right: 5em;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 2em;
}

.ml-3 {
  margin-left: 3em;
}

.ml-4 {
  margin-left: 4em;
}

.ml-5 {
  margin-left: 5em;
}

.bg-orange {
  background: #ffe8d1;
}

.bg-orange60deg {
  background: linear-gradient(60deg, #ffe8d1, white, #ffe8d1);
}

.footer {
  background: rgba(224, 191, 158, 0.9);
  color: #c46200;
}

.tr {
  background: #fffcf9;
  -webkit-transition: background 200ms;
  transition: background 200ms;
}

.tr:hover {
  -webkit-transition: background 200ms;
  transition: background 200ms;
  background: #ffe8d1;
}

.superlink0 {
  color: inherit;
  -webkit-transition: color 300ms;
  transition: color 300ms;
  text-decoration: none;
  cursor: pointer;
  font-family: cursive;
}

.superlink0:hover {
  color: #04046e;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.superlink1 {
  color: #bcbcf1;
  -webkit-transition: color 300ms;
  transition: color 300ms;
  text-decoration: none;
  cursor: pointer;
  font-family: cursive;
}

.superlink1:hover {
  color: #8080ee;
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1030;
}

.resp {
  font-size: 1.2em;
  text-align: center;
  color: #8080ee;
  margin-right: 0.5em;
}

.shadowed {
  text-shadow: 5px 5px 8px #888686;
}

.just {
  text-align: justify;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
  background: linear-gradient(45deg, #0404aa, #04043c);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

nav h1 {
  -webkit-box-flex: 20%;
  -ms-flex: 20%;
  flex: 20%;
  width: 50%;
  padding: 0;
  text-align: center;
  padding: 0.4em;
  margin: 0;
  color: #bcbcf1;
  font-size: 1.9em;
  margin-left: 1.6em;
}

nav h1 .logo {
  font-size: 5em;
}

nav ul {
  list-style: none;
}

nav ul li a {
  font-size: 1.3em;
  text-decoration: none;
  padding: 0.3em;
  margin-right: 20px;
  color: #bcbcf1;
  -webkit-transition: 300ms all;
  transition: 300ms all;
  border-radius: 30px;
  cursor: pointer;
}

nav ul li a:hover {
  color: #8080ee;
  -webkit-transition: 300ms all;
  transition: 300ms all;
}

.btn {
  border: none;
  display: block;
  border-radius: 18px;
  padding: 5px 17px;
  color: #3b3b3b;
  font-size: 18px;
  -webkit-box-shadow: 0 1px 3px #a39d9d, 0 1px 2px #a39d9d;
  box-shadow: 0 1px 3px #a39d9d, 0 1px 2px #a39d9d;
  -webkit-transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.3 ease;
  transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.3 ease;
  transition: box-shadow 0.3s ease, transform 0.3 ease;
  transition: box-shadow 0.3s ease, transform 0.3 ease, -webkit-box-shadow 0.3s ease, -webkit-transform 0.3 ease;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
}

button {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  appearance: auto;
  -webkit-writing-mode: horizontal-tb;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline;
  text-align: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  cursor: default;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: -internal-light-dark(#efefef, #3b3b3b);
  margin: 0;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(#767676, #858585);
  -o-border-image: initial;
  border-image: initial;
  -webkit-transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.2s ease;
  transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  transition: box-shadow 0.3s ease, transform 0.2s ease, -webkit-box-shadow 0.3s ease, -webkit-transform 0.2s ease;
}

button:hover {
  -webkit-box-shadow: 0 6px 3px #302e2e, 0 1px 2px #302e2e;
  box-shadow: 0 6px 3px #302e2e, 0 1px 2px #302e2e;
  -webkit-transform: translate(0, -5px);
  transform: translate(0, -5px);
  -webkit-transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.2s ease;
  transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.2s ease;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  transition: box-shadow 0.3s ease, transform 0.2s ease, -webkit-box-shadow 0.3s ease, -webkit-transform 0.2s ease;
}

table,
thead {
  border: 3px solid black;
}

table,
tr,
td {
  border-collapse: collapse;
  text-align: center;
  padding: 4px;
}

thead {
  background: #0404f0;
  font-weight: bolder;
}

td {
  border: 1px solid black;
}

.col-50 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

@media screen and (max-width: 576px) {
  nav ul li {
    display: block;
    margin: 2em;
  }
  .resp {
    display: none;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  nav ul li {
    display: inline;
  }
}

@media screen and (min-width: 993px) {
  nav ul li {
    display: inline;
  }
}

.loader span {
  color: #8080ee;
  text-shadow: 0 0 0 #8080ee;
  -webkit-animation: loading 1s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
  to {
    text-shadow: 20px 0 70px #04046e;
    color: #0404aa;
  }
}

.loader span:nth-child(2) {
  -webkit-animation-delay: 0.18571s;
}

.loader span:nth-child(3) {
  -webkit-animation-delay: 0.32857s;
}

.loader span:nth-child(4) {
  -webkit-animation-delay: 0.47143s;
}

.loader span:nth-child(5) {
  -webkit-animation-delay: 0.61429s;
}

.loader span:nth-child(6) {
  -webkit-animation-delay: 0.75714s;
}

.loader span:nth-child(7) {
  -webkit-animation-delay: 0.9s;
}

.loader span:nth-child(8) {
  -webkit-animation-delay: 1.04286s;
}

.loader span:nth-child(9) {
  -webkit-animation-delay: 1.18571s;
}

.loader span:nth-child(10) {
  -webkit-animation-delay: 1.32857s;
}

.loader span:nth-child(11) {
  -webkit-animation-delay: 1.47143s;
}

.loader span:nth-child(12) {
  -webkit-animation-delay: 1.61429s;
}

.loader span:nth-child(13) {
  -webkit-animation-delay: 1.75714s;
}

.loader span:nth-child(14) {
  -webkit-animation-delay: 1.9s;
}

.loader span:nth-child(15) {
  -webkit-animation-delay: 2.04286s;
}

.loader span:nth-child(16) {
  -webkit-animation-delay: 2.18571s;
}

.loader span:nth-child(17) {
  -webkit-animation-delay: 2.32857s;
}

.loader span:nth-child(18) {
  -webkit-animation-delay: 2.47143s;
}

.loader span:nth-child(19) {
  -webkit-animation-delay: 2.61429s;
}

.loader span:nth-child(20) {
  -webkit-animation-delay: 2.75714s;
}

.loader span:nth-child(21) {
  -webkit-animation-delay: 2.9s;
}

.loader span:nth-child(22) {
  -webkit-animation-delay: 3.04286s;
}

.loader span:nth-child(23) {
  -webkit-animation-delay: 3.18571s;
}

.loader span:nth-child(24) {
  -webkit-animation-delay: 3.32857s;
}

.loader span:nth-child(25) {
  -webkit-animation-delay: 3.47143s;
}

.loader span:nth-child(26) {
  -webkit-animation-delay: 3.61429s;
}

.loader span:nth-child(27) {
  -webkit-animation-delay: 3.75714s;
}

.loader span:nth-child(28) {
  -webkit-animation-delay: 3.9s;
}

.loader span:nth-child(29) {
  -webkit-animation-delay: 4.04286s;
}

.loader span:nth-child(30) {
  -webkit-animation-delay: 4.18571s;
}
/*# sourceMappingURL=style.css.map */
